// Base

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	height: 100%;
}

body {
	background-color: $cloud;
	color: $smoke;
	display: flex;
	flex-flow: column;
	font-size: 1.25rem;
	font-family: $font-sans-serif;
	line-height: 1.5;
	min-height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;

	@include breakpoint(md) {
		font-size: 1.5rem;
	}
}

// Fluid images by default
img {
	display: block;
	height: auto !important;
	width: 100% \9; // Force IE10 and below to size SVG images correctly
	max-width: 100%;
}


// Links
a {
	color: $navy;
}



// .container {
// 	overflow: hidden;
// }

