// Figure

figure {
	margin: 0;
	overflow: hidden;
	position: relative;

	&.fig-work {

		@include breakpoint(md) {
			float: left;
		}

		figcaption {
			font-weight: 400;
			padding: $space;
			padding-bottom: $space-triple;
			transition: transform $trans-spd 0s, visibility $trans-spd 0s, opacity $trans-spd 0s;

			@include breakpoint(md) {
				background-color: rgba($navy, 0.85);
				color: $aqua;
				opacity: 0;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				visibility: hidden;
				transform: scale(1.02);
			}

			@include breakpoint(lg) {
				padding: $space-double;
			}

			@include breakpoint(xl) {
				font-size: 1.55rem;
				padding: $space;
			}
		}
	}

	&.square-sm {

		@include breakpoint(md) {
			width: 50%;
		}
	}

	&.tall {

		@include breakpoint(lg) {
			width: 50%;
		}
	}

	a {
		display: block;
		position: relative;

		&:hover {

			@include breakpoint(md) {

				figcaption {
					opacity: 1;
					visibility: visible;
					transform: scale(1);

					.underline::after {
						background-color: $aqua;
						content: '';
						display: block;
						height: 2px;
						margin-top: 0.5rem;
						margin-bottom: 0.25rem;
						width: 80px;
					}
				}

				img {
					transform: scale(1.02);
				}
			}
		}

		img {
			transition: transform $trans-spd 0s;
		}
	}
}