// Footer

.footer {
	align-items: center;
	background-color: darken($navy, 5%);
	display: flex;
	color: $haze;
	justify-content: center;
	padding: 2rem 0;
}

.colophon {
	font-size: 0.813rem;
	margin: 0 1rem 0 0;

	@include breakpoint(md) {
		margin-right: 3rem;
	}
}

.nav-connect-list {
	font-size: 0;
	list-type: none;
	margin: 0;
	padding: 0;
}

.nav-connect-item {
	display: inline-block;
	font-size: 1rem;
	vertical-align: middle;

	&:not(:last-child) {
		margin-right: 1rem;

		@include breakpoint(md) {
			margin-right: 2rem;
		}
	}
}

