// Footer

.footer {
	background-color: darken($smoke, 5%);
	color: $haze;
	text-align: center;

	@include MQ(md) {
		background-color: transparent;
		position: absolute;
		bottom: 0;
	}
}

.colophon {
	font-size: 0.813rem;
	margin: 0.5rem 1rem;

	@include MQ(md) {
		margin: 1rem 1rem 1rem 1.5rem;
	}
}

