// Alpha Grid

// Settings
$max-cols: 12;
$gutter-width: 16px;
$max-width: 1200px;

// Column Width
@mixin col($col, $max-cols) {
	width: (100%/$max-cols)*$col;
}

// Offset
@mixin offset-col($col, $max-cols) {
	margin-left: percentage(($col / $max-cols));
}

// Push
@mixin push-col($col, $max-cols) {
	left: ($col * 100%)/$max-cols;
}

// Pull
@mixin pull-col($col, $max-cols) {
	right: ($col * 100%)/$max-cols;
}


// Wrapper for Max-Width
.wrap {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	width: 100%;
	@include clearfix();
}


// Container
.container {
	margin: 0 auto;
	max-width: $max-width;
	padding-left: $gutter-width;
	padding-right: $gutter-width;
	position: relative;
	width: 100%;
	@include clearfix();
}


// Rows
.row {
	margin-left: -$gutter-width;
	margin-right: -$gutter-width;
	display: flex;
  flex-flow: row wrap;
	@include clearfix();

	&-collapse {

		@include MQ(md) {
			margin-left: 0;
			margin-right: 0;
		}
	}
}


// Defaults

// Columns are 100% width by default
[class^="col-"],
[class*="col-"] {
	box-sizing: border-box;
	float: left;
	min-height: 1px; // prevent empty column from collapsing
	padding-left: $gutter-width;
	padding-right: $gutter-width;
	position: relative;
	width: 100%;
}

.col-collapse {
	padding-left: 0;
	padding-right: 0;
}

// Extra Small (xs)

// Use this when you want to have columns,
// even at narrower viewports.
@include MQ(xs) {
	@for $sum from 1 through $max-cols {
		.col-xs-#{$sum} {
			@include col($sum, $max-cols);
		}
	}

	// Offset
	@for $sum from 1 through ($max-cols - 1) {
		.col-xs-offset-#{$sum} {
			@include offset-col($sum, $max-cols);
		}
	}

	.col-sm-offset-0 { margin-left: 0; }

	// Push
	@for $sum from 1 through ($max-cols - 1) {
		.col-xs-push-#{$sum} {
			@include push-col($sum, $max-cols);
		}
	}

	.col-xs-push-0 { left: auto; }

	// Pull
	@for $sum from 1 through ($max-cols - 1) {
		.col-pull-#{$sum} {
			@include pull-col($sum, $max-cols);
		}
	}

	.col-xs-pull-0 { right: auto; }
}


// Small (sm)

@include MQ(sm) {
	@for $sum from 1 through $max-cols {
		.col-sm-#{$sum} {
			@include col($sum, $max-cols);
		}
	}

	// Offset
	@for $sum from 1 through ($max-cols - 1) {
		.col-sm-offset-#{$sum} {
			@include offset-col($sum, $max-cols);
		}
	}

	.col-sm-offset-0 { margin-left: 0; }

	// Push
	@for $sum from 1 through ($max-cols - 1) {
		.col-sm-push-#{$sum} {
			@include push-col($sum, $max-cols);
		}
	}

	.col-sm-push-0 { left: auto; }

	// Pull
	@for $sum from 1 through ($max-cols - 1) {
		.col-sm-pull-#{$sum} {
			@include pull-col($sum, $max-cols);
		}
	}

	.col-sm-pull-0 { right: auto; }
}


// Medium (md)

@include MQ(md) {
	@for $sum from 1 through $max-cols {
		.col-md-#{$sum} {
			@include col($sum, $max-cols);
		}
	}

	// Offset
	@for $sum from 1 through ($max-cols - 1) {
		.col-md-offset-#{$sum} {
			@include offset-col($sum, $max-cols);
		}
	}

	.col-md-offset-0 { margin-left: 0; }

	// Push
	@for $sum from 1 through ($max-cols - 1) {
		.col-md-push-#{$sum} {
			@include push-col($sum, $max-cols);
		}
	}

	.col-md-push-0 { left: auto; }

	// Pull
	@for $sum from 1 through ($max-cols - 1) {
		.col-md-pull-#{$sum} {
			@include pull-col($sum, $max-cols);
		}
	}

	.col-md-pull-0 { right: auto; }
}

// Large (lg)

@include MQ(lg) {
	@for $sum from 1 through $max-cols {
		.col-lg-#{$sum} {
			@include col($sum, $max-cols);
		}
	}

	// Offset
	@for $sum from 1 through ($max-cols - 1) {
		.col-lg-offset-#{$sum} {
			@include offset-col($sum, $max-cols);
		}
	}

	.col-lg-offset-0 { margin-left: 0; }

	// Push
	@for $sum from 1 through ($max-cols - 1) {
		.col-lg-push-#{$sum} {
			@include push-col($sum, $max-cols);
		}
	}

	.col-lg-push-0 { left: auto; }

	// Pull
	@for $sum from 1 through ($max-cols - 1) {
		.col-lg-pull-#{$sum} {
			@include pull-col($sum, $max-cols);
		}
	}

	.col-lg-pull-0 { right: auto; }
}


// Extra Large (xl)

@include MQ(xl) {
	@for $sum from 1 through $max-cols {
		.col-xl-#{$sum} {
			@include col($sum, $max-cols);
		}
	}

	// Offset
	@for $sum from 1 through ($max-cols - 1) {
		.col-xl-offset-#{$sum} {
			@include offset-col($sum, $max-cols);
		}
	}

	.col-xl-offset-0 { margin-left: 0; }

	// Push
	@for $sum from 1 through ($max-cols - 1) {
		.col-xl-push-#{$sum} {
			@include push-col($sum, $max-cols);
		}
	}

	.col-xl-push-0 { left: auto; }

	// Pull
	@for $sum from 1 through ($max-cols - 1) {
		.col-xl-pull-#{$sum} {
			@include pull-col($sum, $max-cols);
		}
	}

	.col-xl-pull-0 { right: auto; }
}

