// Header

.header {
	align-items: stretch;
	background-color: $white;
	border-bottom: 4px solid rgba($black,0.07);
	display: flex;
	flex-wrap: nowrap;
	height: 4rem;
	justify-content: space-between;
	margin-bottom: $space-double;
	padding-left: $space;
	padding-right: $space;

	@include breakpoint(md) {
		height: 5rem;
		margin-bottom: $space-quad;
	}

	@include breakpoint(xl) {
		padding-left: $space-triple;
		padding-right: $space-triple;
	}
}

.brand {
	align-self: center;
	flex: 0 1 auto;
	line-height: 0;
}

// <nav>
.nav-primary-container {
	display: flex;
	flex: 0 1 auto;
}

// <ul>
.nav-primary-list {
	display: flex;
	font-family: $font-sans-serif;
	font-size: 1rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

// li
.nav-primary-item {
	align-items: stretch;
	display: flex;

	&:not(:last-child) {
		margin-right: 1.5rem;
	}

	&.is-current {

		a {
			box-shadow: 0 4px 0 0 $gray;
		}
	}

	a {
		color: $gray;
		display:flex;
	  flex-direction:column;
		font-weight: 500;
	  justify-content:space-around;
		text-decoration: none;
		transition: box-shadow 0.2s linear, color 0.2s linear;


		&:focus,
		&:hover {
			color: $smoke;
			box-shadow: 0 4px 0 0 rgba($gray,0.5);
		}
	}
}

// .p-nav {
// 	align-self: center;
// 	font-size: 1rem;
// 	padding-right: 1rem;

// 	@include breakpoint(md) {
// 		font-size: 1.25rem;
// 		padding-right: 1.5rem;
// 	}
// }

// .p-nav-list {
// 	list-style: none;
// 	margin: 0;
// 	padding: 0;
// }

// .p-nav-item {
// 	display: inline-block;
// 	vertical-align: middle;

// 	&:not(:last-child) {
// 		margin-right: 0.75rem;
// 	}

// 	a {
// 		border-bottom: 2px solid transparent;
// 		color: $blue;
// 		text-decoration: none;
// 		transition: border 0.2s linear, color 0.2s linear;

// 		&:focus,
// 		&:hover {
// 			border-bottom: 4px solid darken($blue, 18%);
// 			color: darken($blue, 18%);
// 		}

// 		&:active {
// 			border-bottom: 6px solid darken($blue, 24%);
// 			color: darken($blue, 24%);
// 		}

// 		&.is-current {
// 			color: $black;
// 			border: 0;
// 		}
// 	}
// }

