// Layout

.main-landing {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.main-content {
	text-align: left;
}

.section {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: center;
}

.intro {
	background-color: darken($haze, 8%);
}

.reference {
	background-color: darken($haze, 16%);
}

