// Variables

// Breakpoints
$bp-xs: 0 !default;
$bp-sm: 544px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;

// colors
$cloud: #e7e6e3;
$haze: #f7f7f7;
$smoke: #262320;
$blue: #0194f2;
$white: #fff;
$black: darken($smoke, 8%);

// Fonts
$font-sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
