// Case Studies

.case-1 {
	background-color: darken($haze, 8%);
}

.case-2 {
	background-color: darken($haze, 16%);
}

.case-3 {
	background-color: darken($haze, 24%);
}

.case-4 {
	background-color: darken($haze, 32%);
}

.case-5 {
	background-color: darken($haze, 40%);
}

