// Layout

.site-wrap {
	// Flexbox sticky footer
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main,
.main__intro {
	margin: 0 auto;
	max-width: $max-width;
	padding-left: $gutter-width;
	padding-right: $gutter-width;
	position: relative;
	width: 100%;

	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, ol, ul {
		margin-left: auto;
		margin-right: auto;
		max-width: $measure;
	}
}

.main {
	// Flexbox sticky footer
	flex: 1;
	padding-bottom: $space;

	@include breakpoint(md) {
		padding-bottom: $space-double;
	}

	// Links
	a {
		border-bottom: 2px solid rgba($navy,0.25);
		color: $navy;
		text-decoration: none;
		transition: border-bottom-color 0.2s linear;

		&:hover {
			border-bottom-color: inherit;
			color: darken($navy, 10%);
		}
	}
}

.main__intro {
	padding-bottom: $space;

	@include breakpoint(md) {
		padding-bottom: $space-double;
	}

	&__heading,
	&__descriptor {
		max-width: 54rem;
	}

	&__descriptor {
		border-left: 4px solid rgba($black,0.07);
		font-size: 1.25rem;
		padding-left: 1rem;

		@include breakpoint(md) {
			font-size: 1.5rem;
		}
	}
}

.main-work {
	display: flex;
	flex: 1;
	flex-direction: column;

	@include breakpoint(md) {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.group {
		min-width: 100%;

		@include breakpoint(md) {
			flex: 0 1 50%;
			min-width: 50%;
		}
	}
}

// Mini Grid
.grid {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	max-width: $measure;
}

.col {
	flex: 1;
	width: 48%;
}



// Deprecate

// .main-content {
// 	text-align: left;
// }

// .section {
// 	align-items: center;
// 	display: flex;
// 	flex: 1;
// 	flex-direction: column;
// 	justify-content: center;
// 	text-align: center;
// }

// .s1 {
// 	background: $smoke url('/dist/img/jebg.jpg') no-repeat top center;
// 	background-size: cover;
// 	flex: 2;
// 	padding: 0 2rem;

// 	h1 {
// 		margin-bottom: 0;
// 	}

// 	p {
// 		font-weight: 300;
// 		letter-spacing: 0.04em;
// 		max-width: 760px;
// 	}

// 	@include breakpoint(md) {
// 		background-image: url('/dist/img/jebg-md.jpg');
// 	}

// 	@include breakpoint(lg) {
// 		background-image: url('/dist/img/jebg-lg.jpg');
// 	}
// }

// .s2 {
// 	background-color: $smoke;
// }

// [aria-label="connect"] {

// 	a:not(:last-child) {
// 		margin-right: 2rem;
// 	}
// }

