// TYPOGRAPHY

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500');

// 	Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-sans-serif;
	margin-top: 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-rendering: optimizelegibility;

	&.inverse {
		color: $white;
	}
}

h1 {
	@include responsive-headers($h1-properties);
}

h2 {
	@include responsive-headers($h2-properties);
}

h3 {
	@include responsive-headers($h3-properties);
}

h4 {
	@include responsive-headers($h4-properties);
}

h5 {
	@include responsive-headers($h5-properties);
}

h6 {
	@include responsive-headers($h6-properties);
}

// These declarations are kept separate from and placed after
// the previous tag-based declarations so that the classes beat the tags in
// the CSS cascade, and thus <h1 class="h2"> will be styled like an h2.
.h1 {
	@include responsive-headers($h1-properties);
}

.h2 {
	@include responsive-headers($h2-properties);
}

.h3 {
	@include responsive-headers($h3-properties);
}

.h4 {
	@include responsive-headers($h4-properties);
}

.h5 {
	@include responsive-headers($h5-properties);
}

.h6 {
	@include responsive-headers($h6-properties);
}

.text-mask {
	color: $gray; // fallback
	background-color: $gray; // fallback if img fails to load
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.mask-1 {
	background-image: linear-gradient(to bottom right, #007faa 0%, #004d77 100%);
}

.mask-2 {
	background-image: linear-gradient(to bottom right, #8a8a8a 0%, #222 100%);
}

.mask-3 {
	background-image: linear-gradient(to bottom right, #ca009d 0%, #4c0097 100%);
}

.mask-4 {
	background-image: linear-gradient(to bottom right, #286daf 0%, #a68a77 100%);
}

.mask-5 {
	background-image: linear-gradient(to bottom right, #d06400 0%, #8d2200 100%);
}


p,
ul,
ol,
pre,
table,
blockquote {
	font-size: 1.125rem; // 18px
	font-weight: normal;
	letter-spacing: normal;
	margin-top: 0em;
	margin-bottom: 1.5em;

	@include breakpoint(xl) {
		font-size: 1.25rem;
	}
}

ul,
ol {
	margin-left: 0;
	padding-left: 1em;
}

.list-dashed {

	li::before {
		content: "=";
		font-size: 1.125em;
		line-height: 1;
		margin: 0 0.5em 0 -1em;
	}
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

hr {
	border: 1px solid;
	margin: -1px 0;
}

b,
strong,
em,
small,
code {
	line-height: 1;
}

sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, ol, ul, hr, figcaption, blockquote {
	margin-left: auto;
	margin-right: auto;
	max-width: $measure;
}

